@import "./assets/style/normalize.css";

:root {
  // 定义主题颜色
  --theme-color: #74ace0;
  --app-background-color: #e4e6eb;

  --header-background-color: rgb(137, 202, 180);
  --header-border-color: #ccc;

  --rooter-background-color: #7fe77f;

}

.app-sider {
  color: var(--theme-color);
}

.app-content {
  overflow: hidden;
  height: 100vh;

  .app-header {
    flex: 0 64px;
    color: var(--theme-color);
    border-color: var(--header-border-color);

    .header-content {
      flex: 1;
      background-color: var(--header-background-color);
    }

    .page_header {
      display: flex;
      justify-content: space-between;
    }
  }

  .contene-contain {
    padding: 20px;
    color: var(--theme-color);
    overflow-y: auto;

    /*定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸*/
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: #f5f5f5;
    }

    /*定义滚动条轨道内阴影+圆角*/
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    /*定义滑块内阴影+圆角*/
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555;
    }
  }

  .app-footer {
    background: var(--rooter-background-color);
    flex: 0 48px;
  }
}

.border {
  border: 1px solid #000;
  padding: 5px;
}

.homepage-header {
  height: 64px;
  margin-bottom: 20px;
}

// ::-webkit-scrollbar    //滚动条整体部分
// ::-webkit-scrollbar-button   //滚动条两端的按钮
// ::-webkit-scrollbar-track   // 外层轨道
// ::-webkit-scrollbar-track-piece    //内层轨道，滚动条中间部分（除去）
// ::-webkit-scrollbar-thumb //滚动条里面可以拖动的那个
// ::-webkit-scrollbar-corner   //边角
// ::-webkit-resizer   ///定义右下角拖动块的样式